@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Raleway:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@700&display=swap');

/* loader */

:root {
    --first-color: rgb(255, 255, 255);
    --navColor-color: #ffffffb0;
    --navInput-color: #ffffff00;
    --yellowD2-color: yellow;
    --yellow2-color: rgb(231, 245, 38);
    --red-color: rgb(238, 55, 55);
    --redD-color: rgb(63, 62, 62);
    --black-color: yellow;
    --whiteBlackCol-color: rgb(36, 36, 36);
    --whiteDarkCol-color: rgb(87, 87, 87);
    --logoBlack-color: rgb(0, 0, 0);
    --yellowD3-color: rgb(64, 65, 64);
    --redBlack-color: #181818;
    --redF-color: rgb(233, 24, 24);
    --whiteDark-color: rgb(0, 0, 0);
    --yellowDark-color: #ce1616;
    --button-color: #922727;
    --homeleon-color: var(--skin-color);
    --palette-color: var(--skin-color);
    --kulrang-color: #ffffff;
    --iconP-color: #161616;  
    --footerCol-color: #ececec;
    --fooLogo-color: #fcfcfc;
}

.dark-theme {
    --navColor-color: #191a1f91;
    --navInput-color: #191a1f00;
    --iconP-color: #ffff00;
    --yellowDark-color: #F4FF5D;
    --homeleon-color: rgb(240, 240, 240);
    --palette-color: rgb(255, 255, 255);
    --logoBlack-color: #F4FF5D;
    --whiteDark-color: #ffffff;
    --black-color: yellow;
    --whiteBlackCol-color: rgb(230, 230, 230);
    --whiteDarkCol-color: rgb(230, 230, 230);
    --first-color: #191A1F;
    --redF-color: #F12963;
    --redD-color: rgb(245, 18, 18);
    --yellowD2-color: yellow;
    --yellowD3-color: rgb(231, 245, 38);
    --yellow-color: rgb(238, 255, 0);
    --kulrang-color: #1a1a1a;
    --redBlack-color: #000000;
    --button-color: grey; 
    --footerCol-color: #333333;
    --fooLogo-color: #1a1a1a;
}



.loading {
    margin: 0 auto;
    position: fixed;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 9999;
    animation: fadeOut 4s;
    animation-fill-mode: forwards;
    -webkit-animation: fadeOut 4s;
    -webkit-animation-fill-mode: forwards;
    -o-animation: fadeOut 4s;
    -o-animation-fill-mode: forwards;
    -moz-animation: fadeOut 4s;
    -moz-animation-fill-mode: forwards;
}
.main {
    margin: 15rem auto;
    display: flex;
    justify-content: center;
}
.dot{
    border: 5px solid #ffe600;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}
.dot2{
    border: 5px solid #F12963;
    border-radius: 50%;
    background-color: transparent;
    width: 100px;
    height: 100px;
    margin: -5px -5px;  
    border-left-color: transparent;  
    border-top-color: transparent; 
    animation: loader 1s linear;
    animation-iteration-count: infinite;
    -webkit-animation: loader 1s linear;
    -webkit-animation-iteration-count: infinite;
    -o-animation: loader 1s linear;
    -o-animation-iteration-count: infinite;
    -moz-animation: loader 1s linear;
    -moz-animation-iteration-count: infinite;
}


@keyframes loader{
    100%{
        transform: rotate(360deg);
    }
}
@-webkit-keyframes loader{
    100%{
        transform: rotate(360deg);
    }
}


@keyframes fadeOut{
    100%{
        visibility: hidden;
        opacity: 0;
    }
}
@-webkit-keyframes fadeOut{
    100%{
        visibility: hidden;
        opacity: 0;
    }
} 


/*    Dark  MODE       */

/*    Kerakli   Ranglar 

ishlatilgan ranglar {
    color: #F4FF5D;
    color: #229187;


    color: #b81442;
}
*/



:root {
    --first-color: rgb(255, 255, 255);
    --navColor-color: #ffffffb0;
    --navInput-color: #ffffff00;
    --yellowD2-color: yellow;
    --yellow2-color: rgb(231, 245, 38);
    --red-color: rgb(238, 55, 55);
    --redD-color: rgb(63, 62, 62);
    --black-color: rgb(0, 0, 0);
    --whiteBlackCol-color: rgb(36, 36, 36);
    --whiteDarkCol-color: rgb(87, 87, 87);
    --logoBlack-color: rgb(0, 0, 0);
    --yellowD3-color: rgb(64, 65, 64);
    --redBlack-color: #181818;
    --redF-color: rgb(233, 24, 24);
    --whiteDark-color: rgb(0, 0, 0);
    --yellowDark-color: #ce1616;
    --button-color: #922727;
    --homeleon-color: var(--skin-color);
    --palette-color: var(--skin-color);
    --kulrang-color: #ffffff;
    --iconP-color: #161616;  
    --footerCol-color: #ececec;
    --fooLogo-color: #fcfcfc;
}

.dark-theme {
    --navColor-color: #191a1f91;
    --navInput-color: #191a1f00;
    --iconP-color: #ffff00;
    --yellowDark-color: #F4FF5D;
    --homeleon-color: rgb(240, 240, 240);
    --palette-color: rgb(255, 255, 255);
    --logoBlack-color: #F4FF5D;
    --whiteDark-color: #ffffff;
    --black-color: yellow;
    --whiteBlackCol-color: rgb(230, 230, 230);
    --whiteDarkCol-color: rgb(230, 230, 230);
    --first-color: #191A1F;
    --redF-color: #F12963;
    --redD-color: rgb(245, 18, 18);
    --yellowD2-color: yellow;
    --yellowD3-color: rgb(231, 245, 38);
    --yellow-color: rgb(238, 255, 0);
    --kulrang-color: #1a1a1a;
    --redBlack-color: #000000;
    --button-color: grey; 
    --footerCol-color: #333333;
    --fooLogo-color: #1a1a1a;
}  


/* 
:root {
    --first-color: rgb(255, 255, 255);
    --navColor-color: #ffffff75;
    --yellowD2-color: #ffbf57;
    --yellow2-color: rgb(231, 245, 38);
    --red-color: rgb(238, 55, 55);
    --redD-color: rgb(63, 62, 62);
    --black-color: rgb(0, 0, 0);
    --logoBlack-color: rgb(0, 0, 0);
    --yellowD3-color: rgb(64, 65, 64);
    --redBlack-color: #181818;
    --redF-color: rgb(233, 24, 24);
    --whiteDark-color: rgb(0, 0, 0);
    --yellowDark-color: rgb(0, 0, 0);
    --kulrang-color: #ffffff;
}

.dark-theme {
    --navColor-color: #191a1f6b;
    --yellowDark-color: #F4FF5D;
    --logoBlack-color: #F4FF5D;
    --whiteDark-color: #ffffff;
    --black-color: rgb(255, 255, 255);
    --first-color: #191A1F;
    --redF-color: #F12963;
    --redD-color: rgb(245, 18, 18);
    --yellowD2-color: rgb(231, 245, 38);
    --yellowD3-color: rgb(231, 245, 38);
    --yellow-color: rgb(238, 255, 0);
    --kulrang-color: #1a1a1a;
    --redBlack-color: #000000;
}   */

.iconMoon {
    display: none;
    width: 25px;
    cursor: pointer;
}


      /* scroll  arrow Button */

.arrow {
    z-index: 1;
    width: 60px;
    height: 58px;
    background-color: var(--skin-color);;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 7px 2px rgb(116 116 116 / 69%);
    transform: scale(0.9);
    transition: 0.3s ease-in-out transform;
}

.arrow i {
    font-size: 28px;
    width: 50%;
    color: #ffffff;
    pointer-events: none;
}


             /*    Third section  webkit Scrolll    */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--skin-color);
} 

             /*    END   Third section  webkit Scrolll    */



html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--first-color);
}

* {
    margin: 0;
    padding: 0;
}

.main-body {
    display: flex;
}

.main-body .main-One-Mov {
    width: 100%;
}

/* .movie-search {
  width: 100%;
  height: 200px;
} */

.movie-search-img img {
  opacity: 1;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
}

.movie-search-img .mImg {
    position: absolute;
    top: 0;
    opacity: 0.4;
    background-color: var(--skin-color);
    width: 100%;
    height: 100%;
}

  /*      Log Out   Log Out  Log Out      */

.logOut {
    width: 100%;
    height: 130px;
    background-color: var(--skin-color);
}

.logOutIn {
    width: 80%;
    margin: 0 10%;
    padding-top: 38px;
    height: 60px;
}

.logOutIn h2 {
  font-family: 'Poppins', sans-serif;
  /* font-style: italic; */
    color: rgb(255, 255, 255);
    text-align: center;
}

.logOutIn p {
  font-family: 'Poppins', sans-serif;
  /* font-style: italic; */
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}

  /*     And   Log Out   Log Out  Log Out      */

.movie-search-img {
    position: relative;
    width: 100%;
}

.movie-search-one {
  width: 100%;
}

.main-One .main-Two {
    display: flex;
}


/*       Navbar Styles    */

.navbarF {
    box-shadow: 0px 0px 3px rgb(116 116 116 / 69%);
    position: sticky;
    z-index: 3;
    top: 0;
    height: 63px;
    width: 100%;
    background-color: var(--navColor-color);
}

.navbarTwoF {
    display: flex;
}

.navBoxF {
    width: 7%;
    height: 7%;
}

.navBoxF a {
    text-decoration: none;
}

.navBox1F a {
    text-decoration: none;
}

.navBox2F a {
    text-decoration: none;
}

.navLogoBetweenF a {
    text-decoration: none;
}

.navBox1F {
    margin: 0 1%;
    width: 7%;
    height: 7%;
}

.navBox2F {
    margin: 0;
    width: 11%;
    height: 7%;
}

.navBox2F p{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: var(--homeleon-color);
    padding: 15.7% 0 0 0;
    text-align: center;
}

.navBoxF p, .navBox1F p {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 19px;
    font-weight: 700;
    color: var(--homeleon-color);
    padding: 24% 0 0 0;
    text-align: center;
}

.navSerchF {
    margin: 0 0 0 5%;
}

.navBoxLogoF {
    width: 25%;
}

.navLogoBetweenF {
    width: 65%;
    margin: 2.3% 17% 0 18%;
}

.navBoxMoonF {
    margin: 0.6% 0 0 0;
    width: 3%;
    height: 50px;
}

.logo-contF {
    display: flex;
}

.iconMoonTwoF {
    margin: 36% 0 0 10%;
    width: 20%;
}

.iconMoonM {
    width: 20%;
}

.iconMoonInTwoF img{
    width: 20px;
}

.iconMoonInTwoF img:hover {
    cursor: pointer;
}

.iconMoonF {
    display: none;
    width: 25px;
    cursor: pointer;
}

.logo-imgF {
    width: 39px;
    height: 37px;
    border-radius: 50%;
    padding: 10px 3px 3px 12px;
    background-color: var(--skin-color);
    box-shadow: 0px 0px 3px var(--skin-color);
}

.logo-imgF img {
    height: 29px;
    width: 78%;
}

.logo-contF {
    width: 100%;
    display: flex;
}

.logo-textF {
    padding: 9px 0 0 10px
}

.logo-textF h2 {
    font-style: italic;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    color: var(--skin-color);
}

.searchbarF {
    display: flex;
    width: 90%;
    padding: 8% 0;
    justify-content: center;
}

.searchbar-contF {
    width: 100%;
    border-radius: 30px;
    padding: 2% 2%;
    background-color: var(--navColor-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--skin-color);
}

.searchbarF input{
    width: 75%;

}

.searchbarF input::placeholder,
.searchbarF input {
    color: var(--skin-color);
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.searchbar-contF i{
    color: var(--skin-color);
}

.searchbarF input {
    font-style: italic;
    color: var(--whiteDark-color);
    background-color: var(--navInput-color);
    border: none;
    outline: none;
}

/* AND Navbar Styles */


.navbar {
    box-shadow: 0px 0px 8px rgb(116 116 116 / 69%);
    position: sticky;
    z-index: 3;
    top: 0;
    height: 11%;
    width: 100%;
    background-color: var(--navColor-color);
}

.navbarTwo {
    display: flex;
}

.navBox {
    width: 7%;
    height: 7%;
}

.navBox a {
    text-decoration: none;
}

.navBox1 a {
    text-decoration: none;
}

.navBox2 a {
    text-decoration: none;
}

.navLogoBetween a {
    text-decoration: none;
}

.navBox1 {
    margin: 0 1%;
    width: 7%;
    height: 7%;
}

.navBox2 {
    margin: 0;
    width: 11%;
    height: 7%;
}

.navBox2 p{
    font-family: 'Roboto Flex';
    font-size: 17px;
    color: var(--skin-color);
    padding: 18% 0 0 0;
    text-align: center;
}

.navBox p, .navBox1 p {
    font-family: 'Roboto Flex';
    font-size: 17px;
    color: var(--skin-color);
    padding: 27% 0 0 0;
    text-align: center;
}

.navSerch {
    margin: 0 0 0 5%;
}

.navBoxLogo {
    width: 25%;
}

.navLogoBetween {
    margin: 3% 0 0 22%;
}

.navBoxMoon {
    margin: 0.6% 0 0 0;
    width: 3%;
    height: 50px;
}

.first-section {
    background-color:var(--first-color);
    width: 20%;
    display: flex;
    justify-content: center;
    position: fixed;
}

.logo-cont {
    display: flex;
}

.first-cont {
    width: 78%;
}

.second-section {
    margin: 3.5% auto;
    width: 95%;
}

.third-section {
    width: 25%;
}

.third-top-box {
    width: 100%;
    display: flex;
}

.iconMoonTwo {
    margin: 40% 0 0 0;
    width: 20%;
}

.iconMoonM {
    width: 20%;
}

.iconMoonInTwo img{
    width: 20px;
}


li {
    list-style-type: none;
}

.logo-cont {
    display: flex;
}

.logo-img {
    border: 1px solid rgb(153, 151, 151);
    border-radius: 50%;
    padding: 3% 3.5% 3% 4%;
    background-color: var(--redBlack-color);
    /* box-shadow: -3px 0px 2px 1px rgb(116 116 116 / 69%); */
}


.logo-img img {
    width: 30px;
}

.logo-text {
    padding: 15px 20px 0 8px
}

.logo-text h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: var(--logoBlack-color);
}

.logo {
    /* display: none; */
    height: 100px;
    width: 25%;
    margin: 0 8%;
}

.logoIn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo .logoOne {
    width: 30%;
}

.logo .logoTwo {
    width: 70%;
}

.topIcons {
    display: none;
}

.topIcons .topBox {
    display: flex;
    margin: 0 10%;
}

.sidebar-section p {
    padding: 0 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: var(--whiteDark-color);
}

.sidebar-section i {
    color: var(--skin-color);
    transition: 0.5s ease;
}

.sidebar-section li:hover i {
    color: #000000;
}

.sidebar-section li:hover p {
    color: rgb(87, 84, 84);
}

.birinchi-li {
    font-family: 'Open Sans', sans-serif;
    color: rgb(160, 158, 158);
}

.menu {
    padding: 10px 0;
}

.sidebar-section li {
    color: var(--black-color);
    font-weight: 600;
    padding: 10px 0;
}

.sidebar-section a {
    display: flex;
    text-decoration: none;
}

.social {
    padding: 10px 0;
}

.general {
    padding: 10px 0;
}

.movie-1 p {
    font-size: 30px;
}

.bottomNav {
    display: none;
    position: fixed;
    z-index: 1;
    top: 88%;
    margin: 0;
    height: 80px;
    width: 100%;
}

.ish .bir {
    padding: 2% 0 0 0;
    margin: 0 8%;
}

.ish {
    width: 88%;
    display: flex;
    justify-content: center;
    margin: 2% 6%;
}

.footer {
    width: 100%;
    height: 15.5%;
    /* margin-top: 3%; */
    display: flex;
    background-color: #ececec;
    /* clip-path: polygon(100% 18%, 0% 0%, 0% 100%, 100% 100%); */
}

#footerNavbar {
    position: absolute;
    margin: 0 31%;
    height: 50px;
    width: 35%;
    line-height: 50px;
    font-size: 20px;
    color: black;
    background-color: rgba(32, 79, 94, 0.432);
    border: 1px solid #999;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(0 0 0);
    text-align: center;
    cursor: pointer;
}

.footerOne {
    margin: 0 auto;
    width: 80%;
    display: flex;
}

.footerTwo {
    padding: 0 0 0 5%;
    width: 50%;
}

.footerThre {
    padding: 4% 0 0 0;
    width: 50%;
}

.footerImg1 {
    margin: 0 0 8% 0;
    display: flex;
} 

.footerImg1 h2{
    padding: 3% 0 0 3%;
    font-size: 32px;
} 

.footer-logo-stair{
    background-color: #b7b7b7;
    width: 14%;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 2px rgb(116 116 116 / 69%);
    transform: scale(0.9);
}

.footer-logo-stair img{
    margin: 8% 0 0 20%;
    width: 60%;
    height: 80%;
}

.footer-svg {
    margin: 11% 0 0 0;
}

.footerImg {
    margin: 5% 0 0 14%;
    display: flex;
} 

.footerImg h4 {
    margin: 0 0 0 3%;
}

.footerThre h4 {
    font-size: 17px;
    margin: 5% 0;
}

.footerIconBox {
    display: flex;
    margin: 4% 0;
}

.footerIconBox .fIcon {
    height: 30px;
    width: 30px;
}

.fIcon i {
    font-size: 20px;
}


/*       Footer Style    */

.footerF {
    width: 100%;
    height: 265px;
    display: flex;
    background-color: var(--footerCol-color);
}

.footer-svgF {
    margin-top: 1%;
}


.footerOneF {
    margin: 0 3% 0 17%;
    width: 80%;
    display: flex;
}

.footerTwoF {
    padding: 0 5% 0 0;
    width: 38%;
}

.footerThreF {
    padding: 4% 0 0 4%;
    width: 62%;
}

.footerImg1F {
    align-items: center;
    margin: 0 0 12% 0;
    display: flex;
} 

.footerImg1F h2{
    font-style: italic;
    cursor: pointer;
    margin: 2% 0 0 3%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 31px;
    font-weight: 900;
    color: var(--whiteDarkCol-color);
} 

.footer-logo-stairF {
    background-color: var(--fooLogo-color);
    width: 19%;
    height: 65px;
    border-radius: 50%;
    box-shadow: 0px 0px 7px 2px rgb(116 116 116 / 69%);
    transform: scale(0.9);
}

.footer-logo-stairF:hover {
    cursor: pointer;
}

.footer-logo-stairF img{
    margin: 16% 0 0 21%;
    width: 60%;
    height: 40px;
}

.footerLocationF {
    margin-right: 1.5%;
    font-size: 17px;
    color: var(--whiteBlackCol-color);
    padding: 0.5% 0 0 0;
}  

.footerTelF {
    font-size: 17px;
    margin-right: 1.5%;
    color: var(--whiteBlackCol-color);
    padding: 1% 0 0 0;
}

.footerConvertF {
    font-size: 17px;
    margin-right: 1.5%;
    color: var(--whiteBlackCol-color);
    padding: 1.3% 0 0 0;
}

.footerImgF {
    margin: 9px 0 0 18px;
    display: flex;
    color: var(--whiteBlackCol-color);
} 

.footerImgF h4 {
    width: 100%;
    margin: 0 0 0 2%;
    font-size: 16px;
    font-weight: 500;
    color: var(--whiteBlackCol-color);
    font-family: 'Poppins',sans-serif;
}

.footerThreF h4 {
    color: var(--whiteDarkCol-color);
    font-family: 'Poppins',sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 2px 0 14px;
}

.footerThreF p {
    font-size: 15px;
    color: var(--whiteBlackCol-color);
    /* font-style: italic; */
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}

#ismF {
    color: var(--whiteBlackCol-color);
    margin-top: 2%;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}

.footerIconBoxF {
    display: flex;
    margin: 4% 0;
}

.footerIconBoxF .fIconF {
    margin: 0 1%;
    height: 30px;
    width: 30px;
}

.fIconF i {
    font-size: 25px;
    border-radius: 50%;
    color: var(--whiteBlackCol-color);
}

.fIconF i:hover {
    cursor: pointer;
    color: var(--skin-color);
    box-shadow: 0px 0px 15px rgb(138, 138, 138);
}

/*       And footer style            */

/* 
#side-menu {
  position: fixed;
  top: 8px;
  left: 8px;
  z-index: 1200;
  height: 30px;
  width: 30px;
  line-height: 30px;
  font-size: 20px;
  color: black;
  background-color: white;
  border: 1px solid #999;
  box-shadow: 0 1px 2px rgb(0 0 0);
  text-align: center;
  cursor: pointer;
  display: none;
} */






/* Media   Media   Media */





@media (max-width: 1250px){

    * {
        margin: 0;
        padding: 0;
    }
  
    .main-body {
        display: flex;
        width: 100%;
    }
    
    .first-cont {
        width: 90%;
    }
    
    .third-section {
      width: 20%;
  }
  
  .first-section {
    width: 20%;
  }
  
    .second-section {
      width: 60%;
      margin-left: 20%;
  }
    
    .movie-image img {
        width: 100%;
        border-radius: 30px;
        height: 200px;
    }
    
    li {
        list-style-type: none;
    }
    
    .logo-cont {
        display: flex;
        padding: 21px 0;
    }
    
    .logo-img img {
        width: 40px;
    }
    
  .logo-text {
      width: 98%;
      padding: 6px 0 0 10px;
  }
    
    .logo-text h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        color: rgb(94, 93, 93);
    }
    
    .sidebar-section p {
        padding: 0 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: rgb(122, 121, 121);
    }
    
    .sidebar-section i {
        color: rgb(122, 121, 121);
        transition: 0.5s ease;
    }
    
    .sidebar-section li:hover i {
        color: rgba(190, 14, 14, 0.651);
    }
    
    .sidebar-section li:hover p {
        color: rgb(87, 84, 84);
    }
    
    .birinchi-li {
        font-family: 'Open Sans', sans-serif;
        color: rgb(160, 158, 158);
    }
    
    .menu {
        padding: 10px 0;
    }
    
    .sidebar-section li {
        padding: 6px 0;
    }
    
    .sidebar-section a {
        display: flex;
        text-decoration: none;
    }
    
    .social {
        padding: 10px 0;
    }
    
    .general {
        padding: 10px 0;
    }
    
    .movie-1 p {
        font-size: 30px;
    }
    
  
}

@media (max-width: 1050px){

  * {
      margin: 0;
      padding: 0;
  }

  .main-body {
      display: flex;
      width: 100%;
  }
  
  .first-cont {
      width: 90%;
  }
  
  .third-section {
    width: 20%;
}

.first-section {
  width: 20%;
}

  .second-section {
    width: 60%;
    margin-left: 20%;
}
  
  .movie-image img {
      width: 100%;
      border-radius: 30px;
      height: 200px;
  }
  
  li {
      list-style-type: none;
  }
  
  .logo-cont {
      display: flex;
      padding: 18px 0;
  }
  
  .logo-img img {
      width: 30px;
  }
  
.logo-text {
    width: 98%;
    padding: 0 0 0 10px;
}
  
  .logo-text h2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      color: rgb(94, 93, 93);
  }
  
  .sidebar-section p {
      padding: 0 18px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      color: rgb(122, 121, 121);
  }
  
  .sidebar-section i {
      color: rgb(122, 121, 121);
      transition: 0.5s ease;
  }
  
  .sidebar-section li:hover i {
      color: rgba(190, 14, 14, 0.651);
  }
  
  .sidebar-section li:hover p {
      color: rgb(87, 84, 84);
  }
  
  .birinchi-li {
      font-family: 'Open Sans', sans-serif;
      color: rgb(160, 158, 158);
  }
  
  .menu {
      padding: 10px 0;
  }
  
  .sidebar-section li {
      padding: 6px 0;
  }
  
  .sidebar-section a {
      display: flex;
      text-decoration: none;
  }
  
  .social {
      padding: 10px 0;
  }
  
  .general {
      padding: 10px 0;
  }
  
  .movie-1 p {
      font-size: 30px;
  }
  

}

@media (max-width: 900px){

  * {
      margin: 0;
      padding: 0;
  }

  .main-body {
      display: flex;
      width: 100%;
  }
  
  .first-cont {
      width: 90%;
  }
  
  .third-section {
    width: 20%;
}

.first-section {
  width: 20%;
}

  .second-section {
    width: 60%;
    margin-left: 20%;
}
  
  .movie-image img {
      width: 100%;
      border-radius: 30px;
      height: 200px;
  }
  
  li {
      list-style-type: none;
  }
  
  .logo-cont {
      display: flex;
      padding: 18px 0;
  }
  
  .logo-img img {
      width: 30px;
  }
  
.logo-text {
    width: 98%;
    padding: 0 0 0 10px;
}
  
  .logo-text h2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      color: rgb(94, 93, 93);
  }
  
  .sidebar-section p {
      padding: 0 18px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      color: rgb(122, 121, 121);
  }
  
  .sidebar-section i {
      color: rgb(122, 121, 121);
      transition: 0.5s ease;
  }
  
  .sidebar-section li:hover i {
      color: rgba(190, 14, 14, 0.651);
  }
  
  .sidebar-section li:hover p {
      color: rgb(87, 84, 84);
  }
  
  .birinchi-li {
      font-family: 'Open Sans', sans-serif;
      color: rgb(160, 158, 158);
  }
  
  .menu {
      padding: 10px 0;
  }
  
  .sidebar-section li {
      padding: 6px 0;
  }
  
  .sidebar-section a {
      display: flex;
      text-decoration: none;
  }
  
  .social {
      padding: 10px 0;
  }
  
  .general {
      padding: 10px 0;
  }
  
  .movie-1 p {
      font-size: 30px;
  }
  

}

@media (max-width: 700px){

  * {
      margin: 0;
      padding: 0;
  }
  
/* 
  #side-menu {
    position: fixed;
    border-radius: 5px;
    top: 8px;
    left: 8px;
    z-index: 1200;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 20px;
    color: black;
    background-color: white;
    border: 1px solid #999;
    box-shadow: 0 1px 2px rgb(0 0 0);
    text-align: center;
    cursor: pointer;
    display: none;
} */

#side-menu.fa-times {
  left: 172px;
  top: 0;
}

  .fa-navicon:before {
    content: "\f0c9";
    font-size: 17px;
}

#side-menu {
  display: inline-block;
}

.first-section {
  z-index: 1;
  background-color: white;
  width: 170px;
  height: 680px;
  left: -130px;
  display: flex;
  justify-content: center;
  position: fixed;
}

.first-section .logo-section {
  border-bottom: 1px solid #999;
  padding: 5px 0 10px;
}

.first-section {
  left: -300px;
}

  .first-section.active {
    box-shadow: 0 0 0 80vw rgba(0, 0, 0, 0.589);
    left: 0;
  }


  .main-body {
      display: flex;
      width: 100%;
  }
  
  .first-cont {
      width: 85%;
  }
  
  .second-section {
      width: 75%;
      margin-left: 0;
  }
  
  .movie-image img {
      width: 100%;
      border-radius: 30px;
      height: 200px;
  }

  .third-section {
      width: 25%;
  }
  
  li {
      list-style-type: none;
  }
  
  .logo-cont {
      display: flex;
      padding: 10px 0;
  }
  
  .logo-img img {
      width: 30px;
  }
  
  .logo-text {
      padding: 0 20px;
  }
  
  .logo-text h2 {
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-align: center;
      color: rgb(94, 93, 93);
  }
  
  .sidebar-section p {
      padding: 0 18px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 500;
      color: rgb(122, 121, 121);
  }
  
  .sidebar-section i {
      color: rgb(122, 121, 121);
      transition: 0.5s ease;
  }
  
  .sidebar-section li:hover i {
      color: rgba(190, 14, 14, 0.651);
  }
  
  .sidebar-section li:hover p {
      color: rgb(87, 84, 84);
  }
  
  .birinchi-li {
      font-family: 'Open Sans', sans-serif;
      color: rgb(160, 158, 158);
  }
  
  .menu {
      padding: 10px 0;
  }
  
  .sidebar-section li {
      padding: 10px 0;
  }
  
  .sidebar-section a {
      display: flex;
      text-decoration: none;
  }
  
  .social {
      padding: 10px 0;
  }
  
  .general {
      padding: 10px 0;
  }
  
  .movie-1 p {
      font-size: 30px;
  }
  

}

@media (max-width: 600px){

    * {
        margin: 0;
        padding: 0;
    }
/*     

    #side-menu {
      position: fixed;
      border-radius: 5px;
      top: 8px;
      left: 8px;
      z-index: 1200;
      height: 30px;
      width: 30px;
      line-height: 30px;
      font-size: 20px;
      color: black;
      background-color: white;
      border: 1px solid #999;
      box-shadow: 0 1px 2px rgb(0 0 0);
      text-align: center;
      cursor: pointer;
      display: none;
  } */

  #side-menu.fa-times {
    left: 172px;
    top: 0;
}

    .fa-navicon:before {
      content: "\f0c9";
      font-size: 17px;
  }

#side-menu {
    display: inline-block;
  }

  .first-section {
      z-index: 1;
    background-color: white;
    width: 170px;
    height: 680px;
    left: -130px;
    display: flex;
    justify-content: center;
    position: fixed;
}

  .first-section .logo-section {
    border-bottom: 1px solid #999;
    padding: 5px 0 10px;
  }
  
  .first-section {
    left: -300px;
  }
  
    .first-section.active {
      box-shadow: 0 0 0 75vw rgba(0, 0, 0, 0.589);
      left: 0;
    }


    .main-body {
        display: flex;
        width: 100%;
    }
    
    .first-cont {
        width: 85%;
    }
    
    .second-section {
        width: 75%;
        margin-left: 0;
    }
    
    .movie-image img {
        width: 100%;
        border-radius: 30px;
        height: 200px;
    }

    .third-section {
        padding-left: 0.5%;
        border-left: 2px solid rgb(214, 210, 210);
        width: 25%;
    }
    
    li {
        list-style-type: none;
    }
    
    .logo-cont {
        display: flex;
        padding: 10px 0;
    }
    
    .logo-img img {
        width: 30px;
    }
    
    .logo-text {
        padding: 0 20px;
    }
    
    .logo-text h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: rgb(94, 93, 93);
    }
    
    .sidebar-section p {
        padding: 0 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: rgb(122, 121, 121);
    }
    
    .sidebar-section i {
        color: rgb(122, 121, 121);
        transition: 0.5s ease;
    }
    
    .sidebar-section li:hover i {
        color: rgba(190, 14, 14, 0.651);
    }
    
    .sidebar-section li:hover p {
        color: rgb(87, 84, 84);
    }
    
    .birinchi-li {
        font-family: 'Open Sans', sans-serif;
        color: rgb(160, 158, 158);
    }
    
    .menu {
        padding: 10px 0;
    }
    
    .sidebar-section li {
        padding: 10px 0;
    }
    
    .sidebar-section a {
        display: flex;
        text-decoration: none;
    }
    
    .social {
        padding: 10px 0;
    }
    
    .general {
        padding: 10px 0;
    }
    
    .movie-1 p {
        font-size: 30px;
    }
    

}

@media (max-width: 500px){

    * {
        margin: 0;
        padding: 0;
    }

    /* #side-menu {
      position: fixed;
      border-radius: 5px;
      top: 8px;
      left: 8px;
      z-index: 1200;
      height: 28px;
      width: 28px;
      line-height: 30px;
      font-size: 20px;
      color: black;
      background-color: white;
      border: 1px solid #999;
      box-shadow: 0 1px 2px rgb(0 0 0);
      text-align: center;
      cursor: pointer;
      display: none;
  } */

  #side-menu.fa-times {
    left: 172px;
    top: 0;
}

    .fa-navicon:before {
      content: "\f0c9";
      font-size: 17px;
  }

#side-menu {
    display: inline-block;
  }

  .first-section {
      z-index: 1;
    background-color: white;
    width: 170px;
    height: 680px;
    left: -130px;
    display: flex;
    justify-content: center;
    position: fixed;
}

  .first-section .logo-section {
    border-bottom: 1px solid #999;
    padding: 5px 0 10px;
  }
  
  .first-section {
    left: -300px;
  }
  
    .first-section.active {
      box-shadow: 0 0 0 70vw rgba(0, 0, 0, 0.589);
      left: 0;
    }


    .main-body {
        display: flex;
        width: 100%;
    }
    
    .first-cont {
        width: 85%;
    }
    
    .second-section {
        width: 100%;
        margin-left: 0;
    }
    
    .movie-image img {
        width: 100%;
        border-radius: 30px;
        height: 200px;
    }

    .third-section {
        width: 20%;
        display: none;
    }
    
    li {
        list-style-type: none;
    }
    
    .logo-cont {
        display: flex;
        padding: 10px 0;
    }
    
    .logo-img img {
        width: 30px;
    }
    
    .logo-text {
        padding: 0 20px;
    }
    
    .logo-text h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: rgb(94, 93, 93);
    }
    
    .sidebar-section p {
        padding: 0 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: rgb(122, 121, 121);
    }
    
    .sidebar-section i {
        color: rgb(122, 121, 121);
        transition: 0.5s ease;
    }
    
    .sidebar-section li:hover i {
        color: rgba(190, 14, 14, 0.651);
    }
    
    .sidebar-section li:hover p {
        color: rgb(87, 84, 84);
    }
    
    .birinchi-li {
        font-family: 'Open Sans', sans-serif;
        color: rgb(160, 158, 158);
    }
    
    .menu {
        padding: 10px 0;
    }
    
    .sidebar-section li {
        padding: 10px 0;
    }
    
    .sidebar-section a {
        display: flex;
        text-decoration: none;
    }
    
    .social {
        padding: 10px 0;
    }
    
    .general {
        padding: 10px 0;
    }
    
    .movie-1 p {
        font-size: 30px;
    }
    

}

@media (max-width: 450px){

    * {
        margin: 0;
        padding: 0;
    }
    

    /* #side-menu {
      position: fixed;
      border-radius: 5px;
      top: 7px;
      left: 8px;
      z-index: 1200;
      height: 27px;
      width: 27px;
      line-height: 30px;
      font-size: 20px;
      color: black;
      background-color: white;
      border: 1px solid #999;
      box-shadow: 0 1px 2px rgb(0 0 0);
      text-align: center;
      cursor: pointer;
      display: none;
  } */

  #side-menu.fa-times {
    left: 172px;
    top: 0;
}

    .fa-navicon:before {
      content: "\f0c9";
      font-size: 17px;
  }

#side-menu {
    display: inline-block;
  }

  .first-section {
      z-index: 1;
    background-color: white;
    width: 170px;
    height: 680px;
    left: -130px;
    display: flex;
    justify-content: center;
    position: fixed;
}

  .first-section .logo-section {
    border-bottom: 1px solid #999;
    padding: 5px 0 10px;
  }
  
  .first-section {
    left: -300px;
  }
  
    .first-section.active {
      box-shadow: 0 0 0 70vw rgba(0, 0, 0, 0.589);
      left: 0;
    }


    .main-body {
        display: flex;
        width: 100%;
    }
    
    .first-cont {
        width: 85%;
    }
    
    .second-section {
        width: 100%;
        margin-left: 0;
    }
    
    .movie-image img {
        width: 100%;
        border-radius: 30px;
        height: 200px;
    }

    .third-section {
        width: 20%;
        display: none;
    }
    
    li {
        list-style-type: none;
    }
    
    .logo-cont {
        display: flex;
        padding: 10px 0;
    }
    
    .logo-img img {
        width: 30px;
    }
    
    .logo-text {
        padding: 0 20px;
    }
    
    .logo-text h2 {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        color: rgb(94, 93, 93);
    }
    
    .sidebar-section p {
        padding: 0 18px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        color: rgb(122, 121, 121);
    }
    
    .sidebar-section i {
        color: rgb(122, 121, 121);
        transition: 0.5s ease;
    }
    
    .sidebar-section li:hover i {
        color: rgba(190, 14, 14, 0.651);
    }
    
    .sidebar-section li:hover p {
        color: rgb(87, 84, 84);
    }
    
    .birinchi-li {
        font-family: 'Open Sans', sans-serif;
        color: rgb(160, 158, 158);
    }
    
    .menu {
        padding: 10px 0;
    }
    
    .sidebar-section li {
        padding: 10px 0;
    }
    
    .sidebar-section a {
        display: flex;
        text-decoration: none;
    }
    
    .social {
        padding: 10px 0;
    }
    
    .general {
        padding: 10px 0;
    }
    
    .movie-1 p {
        font-size: 30px;
    }
    

}










@media(min-width:320px) and (max-width:400px){


    :root {
        --first-color: rgb(255, 255, 255);
        --yellowD2-color: rgba(231, 245, 38);
        --yellow2-color: rgb(231, 245, 38);
        --red-color: rgb(238, 55, 55);
        --redD-color: rgb(63, 62, 62);
        --black-color: rgb(0, 0, 0);
        --logoBlack-color: rgb(43, 43, 43);
        --yellowD3-color: rgb(64, 65, 64);
        --logoBG-color: #181818;
        --redF-color: rgb(233, 24, 24);
        --whiteDark-color: rgb(0, 0, 0);
        --kulrang-color: #ffffff;
    }
    
    .dark-theme {
        --logoBlack-color: #FFC66A;
        --whiteDark-color: rgb(255, 255, 255);
        --black-color: rgb(255, 255, 255);
        --first-color: rgb(37, 37, 37);
        --redF-color: #F12963;
        --redD-color: rgb(245, 18, 18);
        --yellowD2-color: rgb(231, 245, 38);
        --yellowD3-color: rgb(231, 245, 38);
        --yellow-color: rgb(238, 255, 0);
        --kulrang-color: #1a1a1a;
        --logoBG-color: #181818;
    }
    

#side-menu {
    top: 8px;
    left: 8px;
    z-index: 1200;
    height: 27px;
    width: 27px;
    line-height: 30px;
    font-size: 20px;
    color: black;
    background-color: white;
    text-align: center;
    cursor: pointer;
    display: none;
}

#side-menu.fa-times {
    left: 315px;
    top: 10px;
    position: fixed;
}

.fa-navicon:before {
    content: "\f0c9";
    font-size: 17px;
}

#side-menu {
    display: inline-block;
}

.sidebarTop {
    width: 15%;
    padding: 3% 0 0 0;
}

.topIcons .topBox {
    display: flex;
    margin: 0 4%;
}

  .first-section {
    z-index: 1;
    background-color: white;
    width: 170px;
    height: 680px;
    left: -130px;
    display: flex;
    justify-content: center;
    position: fixed;
}

  .first-section .logo-section {
    border-bottom: 1px solid #999;
    padding: 5px 0 15px;
  }
  
  .first-section {
    left: -300px;
  }
  
.first-section.active {
    overflow: scroll;
    width: 100%;
    height: 186vw;
    box-shadow: 0 0 0 70vw rgba(0, 0, 0, 0.589);
    left: 0;
}

.main-body {
    display: flex;
    width: 100%;
}
    
    
.first-cont {
    width: 80%;
    height: 100%;
}
    
.second-section {
    width: 100%;
    margin-left: 0;
}


    
.movie-image img {
    width: 100%;
    border-radius: 30px;
    height: 200px;
}

.third-section {
    width: 20%;
    display: none;
}

li {
    list-style-type: none;
}

.logo-cont {
    width: 50%;
    display: flex;
    padding: 5px 0;
}

.logo-img img {
    width: 21px;
    color: var(--redBlack-color);
}

.logo-img {
    background-color: var(--logoBG-color);
    padding: 3% 3%;
    border-radius: 50%;
    height: 25px;
    margin: 3% 0 0 0;
}

.logo-text {
    padding: 0;
}


.logo-text h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    padding: 12% 10% 0 0;
    font-weight: 600;
    text-align: center;
    color: rgb(5 0 0);
}

.topBox .search {
    padding: 3% 0 0 0;
    width: 15%;
}

.topBox {
    width: 100%;
    display: flex;
}

.search .searchIn img {
    padding: 10% 0 0 35%;
    height: 25px;
}

.logo {
    display: flex;
    height: 50px;
    width: 65%;
    margin: 2% auto 0;
}

.logoIn {
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.logo .logoOne {
    border-radius: 50%;
    padding: 2.5% 1% 5% 2%;
    background-color: var(--logoBG-color);
    width: 18%;
    height: 24px;
}

.logo .logoOne img {
    padding: 0 0 0 8%;
    width: 80%;
    height: 26px;
}

.logo .logoTwo {
    font-size: 22px;
    padding: 3% 0 0 5%;
    color: rgb(26, 26, 26);
    font-weight: 600;
    width: 70%;
}

.logo .logoTwo p {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    color: var(--logoBlack-color);
    font-weight: 600;
}


.topIcons {
    display: flex;
}

.topBox {
    display: flex;
}

.sidebar-section p {
    padding: 0 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(205 131 7);
}

.sidebar-section i {
    color: rgb(255, 0, 0);
    transition: 0.5s ease;
}

.sidebar-section li:hover i {
    color: rgba(190, 14, 14, 0.651);
}

.sidebar-section li:hover p {
    color: rgb(87, 84, 84);
}

.birinchi-li {
    font-family: 'Open Sans', sans-serif;
    color: #27e90d;
}

.menu {
    padding: 10px 0;
}

.sidebar-section li {
    padding: 8px 0;
}

.sidebar-section a {
    display: flex;
    text-decoration: none;
}

.social {
    padding: 10px 0;
}

.general {
    padding: 10px 0;
}

.movie-1 p {
    font-size: 30px;
}

}




/* 
Stair movie icon {
    color: #ff0000;
    color: #FFF900;
}
 */















